/*
------------------------------------------------------------------------------------------------------------
General purpose icons
------------------------------------------------------------------------------------------------------------
*/

.icon-toggle-open {
	display: inline-block;
	background-repeat: no-repeat;			
	width: 32px;
	height: 32px;
	background-position: center center;
	background-image: url("../images/wb/icon-menu-32x32-wb.png");
}

.icon-toggle-close {
	display: inline-block;
	background-repeat: no-repeat;			
	width: 32px;
	height: 32px;
	background-size: contain;
	background-position: center center;
	background-image: url("../images/wb/icon-close-32x32-wb.png");	
}
.icon-home  {
	display: inline-block;
	background-repeat: no-repeat;			
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: left center;
	background-image: url("../images/wb/icon-home-24x24-wb.png");	
}
.icon-email {
	display: inline-block;
	background-repeat: no-repeat;			
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: center center;
	background-image: url('../images/wb/icon-email-32x32-wb.png');
}
.icon-account {
	display: inline-block;
	background-repeat: no-repeat;			
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: left center;
	background-image: url('../images/wb/icon-account-32x32-wb.png');
} 